@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Poppins/Poppins-Regular.ttf'); /* IE9 Compat Modes */
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	background-color: #f5f1f1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
	height: 100vh;
	margin: 0;
	padding: 0;
}
